#obcpress_container {
    background-color: #fff;
    padding: 25px 25px 25px 25px;
}

#obcpress_container h3{
    text-align: center;
}
#obcpress_art{
    padding-top: 100px;
    padding-bottom: 100px;
    
}