{% extends "baza.html" %}
{% load static %}
{% load i18n static %}{% load postman_tags %}
{% block title %}{% trans "Messaging" %}{% endblock %}

{% block postman_menu %}

<section id="postman_menu_section" class="container">

<div id="postman_menu" class="col-md-4 offset-md-2">
      <!-- Sidebar -->
    <nav id="postman_menu_nav">
        <h2><img src="../../../static/img/koperta.png" id="koperta"> Poczta</h2>  
        <ul class="list-unstyled components">
            
        <li><a href="{% url 'postman:inbox' %}">{% trans "Inbox" %}{% if unread_count %} <strong>({{ unread_count }})</strong>{% endif %}</a></li>
 <li><a href="{% url 'postman:sent' %}">{% trans "Sent Messages" %}</a></li>
 <li><a href="{% url 'postman:write' %}">{% trans "Write" %}</a></li>
 <li><a href="{% url 'postman:archives' %}">{% trans "Archives" %}</a></li>
 <li><a href="{% url 'postman:trash' %}">{% trans "Trash" %}</a></li>
        </ul>
    </nav>
{% include 'ContactView.html' %}

</div>    
<div id="postman_menu_male" class="col-xs-12">
      <!-- Sidebar -->
    <nav id="postman_menu_nav_male">
        <h2><img src="../../../static/img/koperta.png" id="koperta"> Poczta</h2>  
        <ul class="list-unstyled components">
            
        <li><a href="{% url 'postman:inbox' %}">{% trans "Inbox" %}{% if unread_count %} <strong>({{ unread_count }})</strong>{% endif %}</a></li>
 <li><a href="{% url 'postman:sent' %}">{% trans "Sent Messages" %}</a></li>
 <li><a href="{% url 'postman:write' %}">{% trans "Write" %}</a></li>
 <li><a href="{% url 'postman:archives' %}">{% trans "Archives" %}</a></li>
 <li><a href="{% url 'postman:trash' %}">{% trans "Trash" %}</a></li>
<li><a href="{% url 'profil' %}"> Profil</a> </li>
        </ul>
    </nav>
    <button  type="button" class="btn btn-link fon700 red" data-toggle="modal" data-target="#exampleModal">
Lista kontaktów
</button>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Lista kontaktów</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% include 'ContactView.html' %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
         </div>
    </div>
  </div>
</div>


</div>   
</section>




{% endblock %}