 {% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container cien pad50 lodowa">
      <p>
Wysłaliśmy Ci maila z instrukcją: jak zmienić hasło. Jeżeli ten adres zgadza się z tym, który podałeś podczas rejestracji, za chwilę otrzymasz wiadomość.
  </p>
  <p>
Jeżeli nie otrzymałeś wiadomości:
    - upewnij się, że podałeś właściwy adres email, czyli ten, na który zarejestrowałeś konto
    - sprawdź spam (zdarza się i tak :))
  </p>
</div>
{% endblock %}