{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container lodowa cien pad50">
  {% if validlink %}
    <h3>Zmień hasło</h3>
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <button class="btn btn-primary" type="submit">Zaakceptuj zmiany</button>
    </form>
  {% else %}
    <p>
Link do resetu hasła nie działa. Być może użyłeś go powtórnie. Musisz ponownie zmienić hasło. Wróć do okna logowania i naciśnij "Hasło wyleciało Ci z głowy?..."
    </p>
  {% endif %}
</div>
{% endblock %}