 {% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<script>

  window.addEventListener("DOMContentLoaded", function(e) {

    var myForm = document.getElementById("example4");
    var checkForm = function(e) {
      ...
      if(!this.terms.checked) {
        alert("Please indicate that you accept the Terms and Conditions");
        this.terms.focus();
        e.preventDefault(); // equivalent to return false
        return;
      }
    };

    // attach the form submit handler
    myForm.addEventListener("submit", checkForm, false);

    var myCheckbox = document.getElementById("field_terms");
    var myCheckboxMsg = "Please indicate that you accept the Terms and Conditions";

    // set the starting error message
    myCheckbox.setCustomValidity(myCheckboxMsg);

    // attach checkbox handler to toggle error message
    myCheckbox.addEventListener("change", function(e) {
      this.setCustomValidity(this.validity.valueMissing ? myCheckboxMsg : "");
    }, false);

  }, false);

</script>



<section id="rejestracja_sekcja" class="container">
    <div class="container" id="rejestracja">
        <div class="row justify-content-center">
            <div id="okno_rejestracji">
                <h2>Rejestracja</h2>
                <form method="post">
                    {% csrf_token %}

                    <div class="form-group red">
                        <label for="username">Nazwa użytkownika/pseudonim</label>
                        <input type="text" class="form-control" id="username" name="username">
                    </div>
                    <div class="form-group red">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" name="email">
                    </div>
                    <div class="form-group red">
                        <label for="pwd1">Password:</label>
                        <input type="password" class="form-control" id="pwd1"  name="password1">
                    </div>
                    <div class="form-group red">
                        <label for="pwd2">Confirm Password:</label>
                        <input type="password" class="form-control" id="pwd2"  name="password2">
                    </div>
                    <p><input id="field_terms" type="checkbox" required name="terms">&nbsp;&nbsp;&nbsp; Akceptuje zasady <a href="{% url 'polityka' %}">Polityki prywatności</a>&nbsp;<a href="#">i</a>  <a href="{% url 'regulamin' %}">Regulaminu</a></p>

                   <div id="przycisk">  <button type="submit" id="potwierdz">POTWIERDŹ</button></div>
                </form>
                {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
                <p class="czerw"> <strong>{{ error }}</strong> </p>
        {% endfor %}
    {% endfor %}
{% endif %}
            </div>
        </div>
    </div>
    


</section>

{% endblock %}